[submodule "vision_opencv"]
	path = vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = humble
[submodule "minirys_msgs"]
	path = minirys_msgs
	url = https://github.com/GroupOfRobots/MiniRysMsgs
